{% import "_includes/forms" as forms %}

{% set handle = value.handle ?? '' %}
{% set custom = value.custom ?? '' %}
{% set opacity = value.opacity ?? 100 %}

<div id="{{ id }}" class="palette--palette flex">

	{% if field.palette|length %}

		<div>

			<ul class="palette--palette-colours" data-palette-palette-colours>

				{% for paletteColour in field.palette %}

					{% set class = [
						'palette--palette-colour',
						craft.palette.colours.hexIsTransparent(paletteColour.colour) ? 'palette--palette-colourIsTransparent' : null,
						handle == paletteColour.handle ? 'palette--palette-colourIsSelected' : null,
					]|filter|join(' ') %}

					{% set processedColour = field.allowOpacity and opacity < 100 ? craft.palette.colours.hexToRgba(paletteColour.colour, opacity) : paletteColour.colour %}

					<li class="{{ class }}" data-handle="{{ paletteColour.handle }}" data-colour="{{ paletteColour.colour }}" style="background:{{ processedColour }} !important;" data-palette-palette-colour>
					</li>

				{% endfor %}

			</ul>

			<input id="{{ id }}-handle" type="hidden" name="{{ name }}[handle]" value="{{ handle }}">

		</div>

	{% else %}

		<input id="{{ id }}-handle" type="hidden" name="{{ name }}[handle]" value="{{ handle }}">

	{% endif %}


	{% if field.allowCustomColour %}

		{% set processedColour = custom and field.allowOpacity and opacity < 100 ? craft.palette.colours.hexToRgba(custom, opacity) : custom %}

		<div class="palette--palette-customColour{{ processedColour ? ' palette--palette-colourIsSelected' }}" data-palette-palette-custom>
			{{ forms.text({
				id: id~'-custom',
				name: name~'[custom]',
				placeholder: '#D65B4B',
				value: custom
			}) }}
			<div class="palette--palette-customColourSwatch" data-colour="{{ custom }}" style="background:{{ processedColour }} !important;" data-palette-palette-custom-colour>
			</div>
		</div>

	{% else %}

		<input id="{{ id }}-custom"  type="hidden" name="{{ name }}[custom]" value="" />

	{% endif %}


	{% if field.allowOpacity %}

		<div class="palette--palette-opacity" data-palette-palette-opacity>
			<input id="{{ id }}-opacity" class="text" type="number" name="{{ name }}[opacity]" value="{{ opacity }}" min="1" max="100" novalidate/>
		</div>

	{% else %}

		<input id="{{ id }}-opacity" type="hidden" name="{{ name }}[opacity]" value="100" />

	{% endif %}

</div>

{% if value and value.hasErrors() %}
	{% for error in value.getErrors() %}
		{{ forms.errorList(error) }}
	{% endfor %}
{% endif %}
