{% import "_includes/forms" as forms %}

{% if not field.fieldTemplateMode %}

    {{ forms.selectField({
        label: "Field Template"|t('palette'),
        instructions: "Use a field template to define this fields settings."|t('palette'),
        id: 'fieldTemplateId',
        name: 'fieldTemplateId',
        options: fieldTemplateOptions,
        value: field.fieldTemplateId ?? '',
        errors: field.getErrors('fieldTemplateId'),
        toggle: true,
    }) }}

    <hr>

    {% set selectedFieldTemplateExists = (fieldTemplates[field.fieldTemplateId] is defined) %}

    {% if fieldTemplates %}

        {% for fieldTemplate in fieldTemplates %}
            {% set currentFieldTemplate = field.fieldTemplateId == fieldTemplate.id %}
            <div id="{{ fieldTemplate.id|id }}"{% if not currentFieldTemplate %} class="hidden"{% endif %}>
                {{ fieldTemplate.getFieldInputPreviewHtml()|raw }}
            </div>
        {% endfor %}

    {% endif %}

{% endif %}



{% set showInlineSettings = field.fieldTemplateMode or (not selectedFieldTemplateExists or not field.fieldTemplateId or field.fieldTemplateId == '') %}

<div id="{{ ''|id }}"{% if not showInlineSettings %} class="hidden"{% endif %}>

    {{ forms.editableTableField({
        label: 'Palette Colours',
        instructions : 'Set the palette colours, these can be changed at any time.'|t('palette'),
        id: 'paletteColours',
        rows: 4,
        textual: false,
        name: 'paletteColours',
        addRowLabel: 'Add colour',
        cols: {
            'label' : {
                'heading' : 'Label',
                'type'   : 'singleline'
            },
            'handle' : {
                'heading' : 'Handle',
                'type'   : 'singleline'
            },
            'colour' : {
                'heading' : 'Colour',
                'type'   : 'singleline'
            }
        },
        rows: field.paletteColours ?? false,
        errors: []
    }) }}

    {#
    {% js %}
        new Craft.HandleGenerator('#label', '#handle');
    {% endjs %}
    #}

    {{ forms.checkboxSelectField({
        label: "Base Colours"|t('palette'),
        instructions: "Select any base colours that you would like to include in your palette field."|t('palette'),
        id: 'paletteBaseColours',
        name: 'paletteBaseColours',
        options: craft.palette.colours.baseColoursAsOptions,
        values: field.paletteBaseColours,
        errors: field.getErrors('paletteBaseColours')
    })}}

    {{ forms.lightswitchField({
        label: "Opacity"|t('palette'),
        instructions: "Allow the user to set opacty on this palette field."|t('palette'),
        id: 'allowOpacity',
        name: 'allowOpacity',
        on: field.allowOpacity,
        errors: field.getErrors('allowOpacity')
    }) }}

    {{ forms.lightswitchField({
        label: "Custom Colour"|t('palette'),
        instructions: "Allow the user to set a custom colour hex for this palette field."|t('palette'),
        id: 'allowCustomColour',
        name: 'allowCustomColour',
        on: field.allowCustomColour,
        errors: field.getErrors('allowCustomColour')
    }) }}

    {{ forms.selectField({
        label: "Colour Output"|t('palette'),
        instructions: "Select the default colour output you would like to return."|t('palette'),
        id: 'colourFormat',
        name: 'colourFormat',
        options: {
            'auto' : 'Auto: Best Guess',
            'hex' : 'HEX: #454545',
            'rgb' : 'RGB: rgb(255,255,255)',
            'rgba' : 'RGBA: rgb(255,255,255,0.5)'
        },
        value: field.colourFormat,
        errors: field.getErrors('colourFormat')
    }) }}

</div>
