{% extends "colorit/_layouts/main" %}

{% set config = craft.app.plugins.getPluginInfo('colorit') %}

{% block content %}

    <div class="fruit--abouticon">
        {{ svg(craft.app.plugins.getPluginIconSvg('colorit')) }}
    </div>

    <h2>{{ "Thanks for using {name}"|t('colorit', {
        name: craft.colorit.name
    }) }}</h2>

    <p>{{ 'Please report any issues through Github'|t('colorit') }}</p>

    <a class="btn btn-docs" href="{{ craft.colorit.documentationUrl }}" target="_blank">{{ "Documentation" | t('colorit') }}</a>
    <a class="btn btn-docs" href="{{ craft.colorit.changelogUrl }}" target="_blank">{{ "Changelog" | t('colorit') }}</a>
    <a class="btn btn-docs" href="{{ craft.colorit.GitHubUrl('/issues') }}" target="_blank">{{ "Issues" | t('colorit') }}</a>

    <hr>

    <h2>{{ "Licence"|t('colorit') }}</h2>

    {% set showLicenseKey = config.licenseKey or config.licenseKeyStatus != 'unknown' %}

    <div class="flex">
        <div class="pane fruit-licencekey">
            <input class="text code{% if config.licenseIssues %} error{% endif %}" size="29" maxlength="29" value="{{ config.licenseKey|replace('/.{4}/', '$0-')|trim('-') }}" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX-XXXX" readonly>
        </div>
        <a class="btn{% if config.licenseIssues %} submit{% endif %}{% if not (showLicenseKey and not config.licenseKey) %} hidden{% endif %}" href="{{ url('plugin-store/buy/colorit')}}">{{ "Buy now"|t('app') }}</a>
        <div class="spinner hidden"></div>
    </div>

{% endblock %}


