{% extends "palette/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% block content %}

 	<form action="" method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="palette/field-templates/save">

        {% if not isNewFieldTemplate %}
        	<input type="hidden" name="fieldTemplateId" value="{{ fieldTemplate.id }}">
            <input type="hidden" name="type" value="{{ fieldTemplate.type }}">
        {% endif %}

        {{ redirectInput('palette/settings/fieldtemplates') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Name'|t('palette'),
            instructions: 'What this field template will be called in the CP.'|t('palette'),
            id: 'name',
            name: 'name',
            placeholder: '',
            value: fieldTemplate.name ?? '',
            errors: fieldTemplate.getErrors('name') ?? false,
            first: true
        }) }}

        {% if isNewFieldTemplate %}

            {{ forms.selectField({
                label: "Field Type"|t('app'),
                instructions: "Which field do you want to create a template for?"|t('palette'),
                id: 'type',
                name: 'type',
                options: fieldTemplateTypeOptions,
                value: fieldTemplate.type,
                toggle: true
            }) }}

            <hr>

            {% for type in allFieldTemplatesTypes %}

                {% set isCurrent = (not fieldTemplate.type and loop.first) or (fieldTemplate.type == type) %}
                <div id="{{ type|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                    {% namespace 'types['~type~']' %}

                        {% set _fieldType = fieldTemplate.type and isCurrent ? fieldTemplate.getField() : craft.palette.fieldTemplates.getFieldTemplateField(type) %}

                        {{ fieldTemplate.getFieldSettingsHtml()|raw }}

                    {% endnamespace %}
                </div>

            {% endfor %}

        {% else %}

            {% namespace 'types['~fieldTemplate.type~']' %}
                {{ fieldTemplate.getFieldSettingsHtml()|raw }}
            {% endnamespace %}

        {% endif %}

        <input type="submit" class="btn submit" value="{{ 'Save'|t('palette') }}">

    </form>

    <hr>

{% endblock %}
