{% extends "palette/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% block content %}

{{d(fieldTemplate.getErrors())}}

 	<form action="" method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="palette/field-templates/save">
        {% if fieldTemplate.id %}
        	<input type="hidden" name="id" value="{{ fieldTemplate.id }}">
            <input type="hidden" name="type" value="{{ fieldTemplate.type }}">
        {% endif %}

        {{ redirectInput('palette/settings/fieldtemplates') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Name'|t('palette'),
            instructions: 'What this field template will be called in the CP.'|t('palette'),
            id: 'name',
            name: 'name',
            placeholder: '',
            value: fieldTemplate.name ?? '',
            errors: fieldTemplate.getErrors('name') ?? false,
            first: true
        }) }}

        {% if fieldTemplate.id %}

            {% namespace 'settings' %}
                {{ fieldTemplate.field.settingsHtml|raw }}
            {% endnamespace %}

        {% else %}

            <input type="hidden" name="type" value="fruitstudios\palette\fields\PaletteFieldTemplate">


            <p> Field type select of fields avaible for this plugin</p>

        {% endif %}


 {#        {% if isNew %}


        {% endif %}


        {{ forms.selectField({
            label: "Field Type"|t('app'),
            instructions: "What type of field is this?"|t('app'),
            warning: (fieldId is not empty and not field.hasErrors('type') ? "Changing this may result in data loss."|t('app')),
            id: 'type',
            name: 'type',
            options: fieldTypeOptions,
            value: className(field),
            toggle: true
        }) }}

        <input type="hidden" name="type" value="{{ fieldTemplate.type }}">
#}

        {# {% if fieldTemplate.field %}
            {% namespace 'settings' %}

                {{ fieldTemplate.field.settingsHtml | raw }}

            {% endnamespace %}
        {% endif %} #}




        <input type="submit" class="btn submit" value="{{ 'Save'|t('palette') }}">

    </form>

{% endblock %}
