{% extends "colorit/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% block content %}

    {# <h3>{{ 'Field Templates'|t('colorit') }}</h3> #}
    <p>{{ 'Use the same settings accross multiple fields and manage your field settings globally.'|t('colorit') }}</p>

    <div id="no-fieldTemplates"{% if fieldTemplates|length %} class="hidden"{% endif %}>
        <p>{{ "No field templates exist yet."|t('colorit') }}</p>
    </div>

    {% if fieldTemplates|length %}

        <table id="fieldTemplates" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th scope="col">{{ "Field Template"|t('colorit') }}</th>
                    <th scope="col">{{ "Type"|t('colorit') }}</th>
                    <th scope="col">{{ "Fields"|t('colorit') }}</th>
                    <td class="thin"></td>
                </tr>
            </thead>
            <tbody>
                {% for fieldTemplate in fieldTemplates %}
                    <tr data-id="{{ fieldTemplate.id }}" data-name="{{ fieldTemplate.name }}">
                        <th scope="row" data-title="{{ 'Name'|t('colorit') }}"><a href="{{ url('colorit/settings/fieldtemplates/'~fieldTemplate.id) }}">{{ fieldTemplate.name }}</a></th>
                        <td data-title="{{ 'Type'|t('colorit') }}">{{ fieldTemplate.fieldType.displayName }}</td>
                        <td data-title="{{ 'Fields'|t('colorit') }}">{{ fieldTemplate.getFieldsUsingHtml()|raw }}</td>
                        <td class="thin">
                            {% if not fieldTemplate.isInUse %}
                                <a class="delete icon" title="{{ 'Delete'|t('colorit') }}" role="button"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="buttons">
        <a href="{{ url('colorit/settings/fieldtemplates/new') }}" class="btn submit add icon">{{ 'New field template'|t('colorit') }}</a>
    </div>

{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#fieldTemplates',
        noObjectsSelector: '#no-fieldTemplates',
        newObjectBtnSelector: '#newFieldTemplateButtonContainer',
        deleteAction: 'colorit/field-templates/delete',
        confirmDeleteMessage: '{{ "Are you sure you want to delete the field template “{name}”?"|t('colorit') }}'
    });
{% endjs %}


