{% extends "palette/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% block content %}

 	<form action="" method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="plugins/save-plugin-settings">
		<input type="hidden" name="pluginHandle" value="palette">
        {{ redirectInput('palette/settings/general') }}
        {{ csrfInput() }}

        {% namespace 'settings' %}

	        {{ forms.textField({
	            label: 'Plugin Name'|t('palette'),
	            instructions: 'Override the plugin name for this install'|t('palette'),
	            id: 'pluginName',
	            name: 'pluginName',
	            placeholder: 'Palette'|t('palette'),
	            value: settings.pluginName,
	            errors: settings.getErrors('pluginName'),
	            first: true
	        }) }}

	     	{{ forms.lightswitchField({
	            label: 'Show in CP Nav'|t('palette'),
	            instructions: 'Display a link to this plugin in the main cp navigation'|t('palette'),
	            id: 'showInCpNav',
	            name: 'showInCpNav',
	            on: settings.showInCpNav,
	            errors: settings.getErrors('showInCpNav'),
	        }) }}

	        <input type="submit" class="btn submit" value="{{ 'Save'|t('palette') }}">

		{% endnamespace %}

    </form>

{% endblock %}


