{% import "_includes/forms" as forms %}

{% set handle = value.handle ?? '' %}
{% set custom = value.custom ?? '' %}
{% set opacity = value.opacity ?? 100 %}

<div id="{{ id }}" class="colorit--palette flex">

	{% if field.palette|length %}

		<div>

			<ul class="colorit--palette-colors" data-colorit-palette-colors>

				{% for paletteColor in field.palette %}

					{% set class = [
						'colorit--palette-color',
						craft.colorit.colors.hexIsTransparent(paletteColor.color) ? 'colorit--palette-colorIsTransparent' : null,
						handle == paletteColor.handle ? 'colorit--palette-colorIsSelected' : null,
					]|filter|join(' ') %}

					{% set processedColor = field.allowOpacity and opacity < 100 ? craft.colorit.colors.hexToRgba(paletteColor.color, opacity) : paletteColor.color %}

					<li class="{{ class }}" data-handle="{{ paletteColor.handle }}" data-color="{{ paletteColor.color }}" style="background:{{ processedColor }} !important;" data-colorit-palette-color>
					</li>

				{% endfor %}

			</ul>

			<input id="{{ id }}-handle" type="hidden" name="{{ name }}[handle]" value="{{ handle }}">

		</div>

	{% else %}

		<input id="{{ id }}-handle" type="hidden" name="{{ name }}[handle]" value="{{ handle }}">

	{% endif %}


	{% if field.allowCustomColor %}

		{% set processedColor = custom and field.allowOpacity and opacity < 100 ? craft.colorit.colors.hexToRgba(custom, opacity) : custom %}

		<div class="colorit--palette-customColor{{ processedColor ? ' colorit--palette-colorIsSelected' }}" data-colorit-palette-custom>
			{{ forms.text({
				id: id~'-custom',
				name: name~'[custom]',
				placeholder: '#D65B4B',
				value: custom
			}) }}
			<div class="colorit--palette-customColorSwatch" data-color="{{ custom }}" style="background:{{ processedColor }} !important;" data-colorit-palette-custom-color>
			</div>
		</div>

	{% else %}

		<input id="{{ id }}-custom"  type="hidden" name="{{ name }}[custom]" value="" />

	{% endif %}


	{% if field.allowOpacity %}

		<div class="colorit--palette-opacity" data-colorit-palette-opacity>
			<input id="{{ id }}-opacity" class="text" type="number" name="{{ name }}[opacity]" value="{{ opacity }}" min="1" max="100" novalidate/>
		</div>

	{% else %}

		<input id="{{ id }}-opacity" type="hidden" name="{{ name }}[opacity]" value="100" />

	{% endif %}

</div>

{% if value and value.hasErrors() %}
	{% for error in value.getErrors() %}
		{{ forms.errorList(error) }}
	{% endfor %}
{% endif %}
