{% extends "colorit/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ 'Presets'|t('colorit') }}</h2>
    <p>{{ 'Define custom presets that can be selected when creating a colorit field.'|t('colorit') }}</p>

    {% if presets|length %}

        <table id="presets" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th scope="col">{{ "ID"|t('colorit') }}</th>
                    <th scope="col">{{ "Preset"|t('colorit') }}</th>
                    <th scope="col">{{ "Type"|t('colorit') }}</th>
                    <th scope="col">{{ "Fields"|t('colorit') }}</th>
                    <td class="thin"></td>
                </tr>
            </thead>
            <tbody>
                {% for preset in presets %}
                    <tr data-id="{{ preset.id }}" data-name="{{ preset.name }}">
                        <th scope="row" data-title="{{ 'Name'|t('colorit') }}"><a href="{{ url('colorit/presets/'~preset.id) }}">{{ preset.id }}</a></th>
                        <th scope="row" data-title="{{ 'Name'|t('colorit') }}"><a href="{{ url('colorit/presets/'~preset.id) }}">{{ preset.name }}</a></th>
                        <td data-title="{{ 'Type'|t('colorit') }}">{{ preset.fieldType.displayName }}</td>
                        <td data-title="{{ 'Fields'|t('colorit') }}">{{ preset.getFieldsUsingHtml()|raw }}</td>
                        <td class="thin">
                            {% if not preset.isInUse %}
                                <a class="delete icon" title="{{ 'Delete'|t('colorit') }}" role="button"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="buttons">
        <a href="{{ url('colorit/presets/new') }}" class="btn submit add icon">{{ 'New preset'|t('colorit') }}</a>
    </div>

{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#presets',
        noObjectsSelector: '#no-presets',
        newObjectBtnSelector: '#newPresetButtonContainer',
        deleteAction: 'colorit/presets/delete',
        confirmDeleteMessage: '{{ "Are you sure you want to delete the preset “{name}”?"|t('colorit') }}'
    });
{% endjs %}


